#map{
  width: 100%;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
}

.glyphicon-one-fine-smaller-dot:before {
    content:"\25cf";
    font-size: 0.6em;
}

.glow-effect {
    color: rgba(0, 255, 266, .6);
    text-shadow: 0 0 10px rgb(0, 255, 255);
}
