html, body, #cesiumContainer {
    width: 100%; height: 100%; margin: 0; padding: 0; overflow: hidden;
}

.legend {
    line-height: 16px;
    width: 280px;
    position: absolute;
    z-index: 1000;
    left: 10px;
    bottom: 10px;
    color: #a0a0a0;
    font-family: 'Open Sans', sans-serif;
    padding: 6px 8px;
    background: #000000;
    background: rgba(38, 38, 38, 0.5);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
}

h4 {
    font-family:  Lobster, cursive;
    font-size: larger;
}

.legend i {
    width: 16px;
    height: 16px;
    float: left;
    margin-right: 8px;
    opacity: 0.7;
}

.legend p {
    font-size: 12px;
    line-height: 16px;
    margin: 0;
}


a:visited {color:#a0a0a0; background-color:transparent; text-decoration:none}
a:hover   {color:#a0a0a0; background-color:transparent; text-decoration:none}
a:active {color:#a0a0a0; background-color:transparent; text-decoration:none}
a:link   {color:#a0a0a0; background-color:transparent; text-decoration:none}